<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head>
    <title>iSeries</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>


<body>
    <header>
        <nav>
            <div class="nav-wrapper black">
                <a href="#" class="brand-logo center">iSeries</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                        <form th:action="@{/logout}" method="post">
                            <button class="waves-effect waves-light btn" type="submit">
                                SAIR</button>
                        </form>
                    </li>
                    <li><a href="collapsible.html"></a></li>
                    <li><a href="collapsible.html"></a></li>
                </ul>
            </div>
        </nav>
    </header>
    <br><br>
    <h3 class="container">Lista de Séries</h3>

    <table class="container">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Editar</th>
                <th>Deletar</th>
            </tr>
        </thead>

        <tbody >
            <tr th:each="serie : ${series}">
                <td><a th:href="${(#mvc.url('SC#detalhesSerie').arg(0, serie.id)).build()}"><span th:text="${serie.nome}"></span></a></td>
                <td><a th:href="${(#mvc.url('SC#editarSerie').arg(0, serie.id)).build()}"><span><i class="material-icons">edit</i></span></a></td>
                <td><a th:href="${(#mvc.url('SC#deletarSerie').arg(0, serie.id)).build()}"><span><i class="material-icons">delete</i></span></a></td>
            </tr>
        </tbody>
    </table>
    <br>
    <h3 class="container"><a href="/cadastrarSerie" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Cadastrar Série</a></h3>

    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>


</html>