@charset "ISO-8859-1";

h2{
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

li{
	border-style: groove;
	height: 20px;
	list-style: none;
}

button{
	background-color: #1d195e;
	color: white;
}

.item{
	margin-right: 10px;
}

.direita{
	display: flex;
	float: right; 
}