<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head>
    <title>iSeries</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body bgcolor="#1B1D21">
    <header>
        <nav>
            <div class="nav-wrapper black">
                <a class="brand-logo center">
                    <span class="red-text text-darken-2">i</span>
                    <span class="white-text text-darken-2">Series</span>
                </a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                        <form th:action="@{/logout}" method="post">
                            <button class="waves-effect waves-light btn red" type="submit">
                                SAIR</button>
                        </form>
                    </li>
                    <li><a href="collapsible.html"></a></li>
                    <li><a href="collapsible.html"></a></li>
                </ul>
            </div>
        </nav>
    </header>

    <br>
    <h4 class="container white-text">Editar Temporada:</h4>
    <br>
    <h3 class="container"><a href="/series" class="waves-effect waves-light btn red"><i class="material-icons left">format_list_bulleted</i>Lista de Séries</a></h3>

    <br/>

    <form class="container" method="post">
        <div class="row">
            <div class="input-field col s4">
                <input class="white-text" type="text" th:value="${temporada.nome}" name="nome"/>
                <label class="active">Nome</label>
            </div>
            <div class="input-field col s4"><button class="waves-effect waves-light btn red" type="submit">Atualizar</button></div>
        </div>
    </form>

    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>

</html>