<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">

<head>
    <title>iSeries</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>


<body>

    <header>
        <nav>
            <div class="nav-wrapper black">
                <a href="#" class="brand-logo center">iSeries</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                        <form th:action="@{/logout}" method="post">
                            <button class="waves-effect waves-light btn" type="submit">
                                SAIR</button>
                        </form>
                    </li>
                    <li><a href="collapsible.html"></a></li>
                    <li><a href="collapsible.html"></a></li>
                </ul>
            </div>
        </nav>
    </header>

    <h2 class="center">
        <a href="/series" class="waves-effect waves-light btn">
            <i class="material-icons left">
                format_list_bulleted
            </i>
            Lista de Séries
        </a>
        <a th:href="${(#mvc.url('EC#adicionarEpisodio').arg(0, temporada.id)).build()}" class="waves-effect waves-light btn">
            <i class="material-icons left">
                add_circle_outline
            </i>
            Adicionar Episódio
        </a>

    </h2>

    <br>

    <form class="container center-align" method="post">
        <table class="container">
            <thead>
            <tr>
                <th>Nome do EP</th>
                <th>Assistiu?</th>
                <th>Editar</th>
                <th>Deletar</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="episodio : ${episodios}">
                <td><span th:text="${episodio.nome}"></span></td>
                <td>
                    <div class="switch">
                        <div th:if="${episodio.assistiu}">
                            <p>
                                <label>
                                    <input type="checkbox" th:value="${episodio.id}" name="idEpisodio" checked="checked"/>
                                    <span></span>
                                </label>
                            </p>
                        </div>
                        <div th:unless="${episodio.assistiu}">
                            <p>
                                <label>
                                    <input type="checkbox" th:value="${episodio.id}" name="idEpisodio"/>
                                    <span></span>
                                </label>
                            </p>
                        </div>
                    </div>
                </td>
                <td><a th:href="${(#mvc.url('EC#editarEpisodio').arg(0, episodio.id)).build()}"><span><i class="material-icons">edit</i></span></a></td>
                <td><a th:href="${(#mvc.url('EC#deletarEpisodio').arg(0, episodio.id)).build()}"><span><i class="material-icons">delete</i></span></a></td>
            </tr>
            </tbody>
        </table>
        <br>
        <h4 class="center" ><button class="waves-effect waves-light btn " type="submit">Salvar</button></h4>

    </form>

    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>


</html>