<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Registration Success</title>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body bgcolor="#1B1D21">
  <header>
    <nav>
      <div class="nav-wrapper black">
        <a class="brand-logo center">
          <span class="red-text text-darken-2">i</span>
          <span class="white-text text-darken-2">Series</span>
        </a>
      </div>
    </nav>
  </header>
    <div class="container text-center">
      <h3 class="white-text">Cadastrado com sucesso!</h3>
      <h4><a class="red-text" th:href="@{/login}">Clique aqui para entrar!</a></h4>
    </div>
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
  </body>
</html>